<footer class="footerWrapper">
       <div class="container"> 
        <div class="row">
            
         <div class="span6" style=" text-align: right;">© Designed by Tentie, Inc. 2013 </div>
         <div class="span6" style=" text-align: left; padding-left: 20px;"> About | Terms & Conditions | FAQs</div>
             
             </div>
            
          </div>           
     </footer>