     

     <header class="headerWrapper">
      <div class="navbar">
         <div class="navbar-inner">
            <div class="container">
              
                <div class="brand-align"><a class='brand-ctm' href="/" title="Home">{CTM}</a>
                    Course Transfer Manager
                    
                  <div class="pull-right" style="font-size: 13px; line-height: 40px;">Welcome, Dr. Keeling</div>
                </div>          


            </div>      
           </div>
         </div>        
    </header>